<div class="input-group">
  <input type="file" data-file="filePath.file" class="form-control"/>
  <span class="input-group-btn">
  	<button ng-click="loadTranslation()" class="btn btn-default" ng-disabled="areButtonsEnabled()">Load</button>
  	<button ng-click="forceSync()" class="btn btn-default" ng-disabled="areButtonsEnabled()">Sync</button>
	<button ng-click="saveFiles()" class="btn btn-default" ng-disabled="areButtonsEnabled()">Save Files</button>
  </span>
</div>

<tabset>
	<tab ng-repeat="file in files" heading="{{file.name}}">
      <tabset>
		<tab ng-repeat="language in file.languages" heading="{{language.name}}">
	      <div class="jsonView" defocus>
			    <json child="language.content" type="'object'"></json>
			</div>
			<div>
		    <textarea>{{ getJsonString(language.content) }}</textarea>
		</div>
	  </tab>
	</tabset>
  </tab>
</tabset>